.dialog-panel {
  width: 60vh;
  height: 65vh;
  display: inline-block;
}

.text-dialog {
  margin-top: 0.25vh;
  margin-left: 3.5vh;
  text-align: center;
}

.button-edit {
  text-align: center;
  margin-top: -3vh;
  margin-left: 10vh;
}

.rows {
  display: flex;
}

.button-add {
  margin-left: 10vh;
  width: 5vh;
  height: 5vh;
}

.mat-radio-button {
  margin-right: 2vh;
}
