<mat-toolbar *ngIf="isLoggedIn" class="header" color="primary">
  <mat-toolbar-row>
    <p class="brand-name" [routerLink]="'/dashboard'">HOME</p>
    <span class="spacer"></span>
    <div class="center-hrefs">
      <button mat-button color="accent" *ngIf="isTeacher()" [routerLink]="'/teacher'">
        Teacher Panel
      </button>
      <button mat-button color="accent" *ngIf="!isAdmin() && user?.isUserParent"
              [routerLink]="'/parent/' + user.userId">
        Parent Panel
      </button>
      <button mat-button color="accent" *ngIf="isStudent()" [routerLink]="'/student/' + user.userId">
        Student Panel
      </button>
      <button mat-button [ngStyle]="{'color' : empty === true ? 'red' : 'white' }" color="accent" *ngIf="!isAdmin() && user?.isUserParent || !isAdmin() && user?.isUserStudent"
              [routerLink]="'/notifications/' + user.userId">
        Notifications
      </button>
      <button mat-button color="accent" *ngIf="isAdmin()" [routerLink]="'/admin'">
        Admin Panel
      </button>
    </div>
    <span class="spacer"></span>
    <mat-icon color="accent" class="header-icon header-items" (click)="goToAccount()">
      account_circle
    </mat-icon>
    <button mat-button color="accent" class="header-items" [routerLink]="'/logout'">
      Logout
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content-container">
  <router-outlet>
  </router-outlet>
</div>

<footer class="small text-center text-white-50">
  <span class="logo-container">
        Copyright &copy; Dictionary 2019
  </span>
</footer>
