<ngx-datatable
  class="material striped"
  [rows]="studentsList"
  [headerHeight]="45"
  [rowHeight]="'auto'"
  [columnMode]="'flex'"
  [footerHeight]="30"
  [limit]="10"
>
  <ngx-datatable-column name="Name" [flexGrow]="0.2">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.userName}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Surname" [flexGrow]="0.2">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.userSurname }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Email" [flexGrow]="0.3">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.userEmail }}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
