.grades {
  display: inline;
}

.subjects-title {
  text-align: center;
  margin-bottom: 2vh;
}

.absences {
  text-align: center;
  margin-bottom: 2vh;
  margin-top: 3vh;
}

.absences-section {
  margin-top: 3vh;
  margin-bottom: 3vh;
}
