<h2 style="text-align: center">{{class?.classSign + " / " + class?.classYear}}</h2>

<div class="tables_">
  <table class="table" id="t1">
    <thead>
    <tr>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>8:15</td>
    </tr>
    <tr>
      <td>9:15</td>
    </tr>
    <tr>
      <td>10:15</td>
    </tr>
    <tr>
      <td>11:15</td>
    </tr>
    <tr>
      <td>12:15</td>
    </tr>
    <tr>
      <td>13:15</td>
    </tr>
    <tr>
      <td>14:15</td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped" id="t2">
    <thead>
    <tr>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td *ngFor="let day of map | keyvalue">
        <div *ngFor="let list of day.value">
          <p>{{list.name}}</p>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
