.dialog-panel {
  width: 30vh;
  height: 40vh;
}

.text-dialog {
  margin-top: 0.5vh;
  margin-left: 3.5vh;
  text-align: center;
}

.button-edit {
  text-align: center;
  margin-top: -3vh;
  margin-left: 10vh;
}
