<h3 class="subjects-title">My stats</h3>
<button style="margin-bottom: 1vh" mat-raised-button color="warn" (click)="getStats()">Get PDF Stats
</button>

<div class="table-container lesson">
  <ngx-datatable
    #studentInfoTable
    class="material striped"
    [rows]="studentInfoList"
    [headerHeight]="45"
    [rowHeight]="'auto'"
    [columnMode]="'flex'"
    [footerHeight]="30"
    [limit]="10"
  >
    <ngx-datatable-column name="Subject" [flexGrow]="0.2">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row.subjectName}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Teacher" [flexGrow]="0.2">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row.subjectTeacher}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Grades" [flexGrow]="0.75">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <p
          matTooltip="{{sel.gradeModificationDate | date : 'dd/MM/yyyy'}}"
          class="grades" *ngFor='let sel of row.grades'>
          {{sel.gradeValue + "       |"}}
        </p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Average" [flexGrow]="0.2">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row.average}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Presences in %" [flexGrow]="0.2">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row.percentageOfPresences}}
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>


<h3 class="absences">My absences</h3>


<div class="table-container lesson">
  <ngx-datatable
    #studentAbsencesTable
    class="material striped"
    [rows]="studentAbsencesList"
    [headerHeight]="45"
    [rowHeight]="'auto'"
    [columnMode]="'flex'"
    [footerHeight]="30"
    [limit]="10"
  >
    <ngx-datatable-column name="Subject" [flexGrow]="0.2">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row.subjectName}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Teacher" [flexGrow]="0.2">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row.teacher}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Topic" [flexGrow]="0.75">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row.lessonTopic}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Date" [flexGrow]="0.2">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row.date | date : 'dd/MM/yyyy'}}
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>

