.dialog-panel {
  width: 30vh;
  height: 25vh;
}

.text-dialog {
  margin-top: 4vh;
  margin-left: 4vh;
  text-align: center;
}

.button-edit {
  text-align: center;
  margin-left: 10vh;
  margin-top: -4vh;
}

.button-edit2 {
  margin-top: 1vh;
  margin-left: 10vh;
}
