.dialog-panel {
  width: 20vh;
  height: 35vh;
}

.text-dialog {
  margin-top: 0.5vh;
  margin-left: 3.5vh;
  text-align: center;
}

.button-edit {
  text-align: center;
  margin-left: 20vh;
  margin-top: -3vh;
}

.b-s {
  margin-top: 25vh;
}
