.home-card {
  width: 25%;
  height: 20vh;
  text-align: center;
  margin-left: 27.5%;
  position: fixed;
  top: 30%;
}

.login-b {
  margin-bottom: 10vh;
  text-align: center;

}

.card-content {
  margin-bottom: 10vh;
  text-align: center;
}

.login-class {
  font-size: 30px;
}
